.navbar-default .navbar-brand{
	font-weight: bold;
    font-size: 30px;
    color: #1f9f4c;
}
.btnprovinceadd{
	background-color: #2d337c;
    border-color:#2d337c;
}
.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th{
	text-align: center;
}