.titelhotel{
	font-size: 22px;
    font-family: Arial;
    color: #86b817;
    text-transform: uppercase;
    margin-top: 0;
}
.titleprovince{
	color: #4790cd;
	font-family: inherit;
	font-size: 25px;
	font-weight: 600;
}
.imghotelprovince {
	width: 200px; height: 200px;background-color: pink;
}
.infohotel{
	border: 1px solid #29ED37;
	padding-top: 15px;
	padding-bottom: 15px;
}
.imgstart{
	width: 30px; 
	height: 40px;
}
.sale {
	position: relative;
	display: inline-block;
	background: orange;
	color: white;
	height: 50px;
	width: 50px;
	text-align: center;
	vertical-align: middle;
	line-height: 2.5rem;
	/*margin: 45vh 45vw;*/
	transform: rotate(-20deg);
	animation: beat 1s ease infinite alternate;
	&:before,
	&:after {
		content:"";
		position: absolute;
		background: inherit;
		height: inherit;
		width: inherit;
		top: 0;
		left: 0;
		z-index: -1;
		transform: rotate(30deg);
	}
	&:after {
		transform: rotate(60deg);
	}
}

@keyframes beat {
	from {	transform: rotate(-20deg) scale(1); }
	to {	transform: rotate(-20deg) scale(1.1); }
}
.pricehotel{
	text-align: center;
}
.price-old{
	font-weight: 300;
    text-decoration: line-through;
    color: #000;
}
.price{
	font-size: 30px;
	color: #4caf50;
	font-weight: 700;
	box-sizing: border-box;

}
/*slide detail hotel*/
#wowslider-container1{
	margin-top: 100px;
}
/*end slide detail hotel*/
.descriptionhotel{
	margin-top: 50px;
	text-align: justify;
    color: #000;
    font-size: 14px;
}
.dsloaiphong{
	margin-top: 100px;
}
.nametyperoom{
	text-align: center;
}
.topkhuyenmai{
	text-align: center;
	/*background-color: #efefef;*/
	font-family: 'Alfa Slab One', cursive;
	font-size: 40px;
	color: #F8BE0E;
	margin-top: 100px;
	margin-bottom: 50px;
}
aside.sticker {
  margin: 20px;
  font-size: 20px;
  text-shadow: 0px 0px 3px rgba(0,0,0,0.4);
  color: black;
  width: 100px;
  height: 100px;
  display: inline-block;
  border-radius: 100%;
  background: -webkit-linear-gradient(135deg, transparent 32px, #aaa 20px, #eee);
  text-align: center;
  padding-top: 40px;
  box-sizing: border-box;
  overflow: hidden;
}
aside.sticker:after {
  content: " ";
  display: block;
  border-radius: 100%;
  background: -webkit-linear-gradient(135deg, transparent 110px, #000 100px,#666 100px, #fff 85%);
  box-shadow: -3px -3px 15px 1px rgba(0, 0, 0, 0.2);
  width: 100px;
  height: 100px;
  margin-left: 56px;
  margin-top: -4px;
}

aside.sticker.green {
  color: white;
  background: -webkit-linear-gradient(135deg, transparent 32px, #46a82d 20px, #70c757);
}
.salett{
	color: red;
	text-align: center;
	font-weight: bold;
	font-style: italic;
	font-size: 20px;
}
.saledate span{
	color: #228754;
}
.khuvuc{
	color: #fff;
	text-align: center;
	background-color: #86b817;
	font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 15px;
}
.quanhotel{

	text-align: center;
	font-weight: bold;
	margin-top: 10px;
}
.quanhotel:hover{
	background-color: #86b817;
}
.quanhotel a:hover{
	color: #fff;
}
.quanhotel a{
	font-weight: bold;
	/*text-decoration: underline;*/
	/*padding-top: 15px;
	padding-bottom: 15px;*/
	/*padding: 15px;*/
}
.slideimg{
	margin-top: 100px;
}
.ttdatphonghinh{
	width: 150px;
	height: 150px;
	background-color: pink;
}
.tenksdatphong{
	font-size: 20px;
    font-weight: 700;
    margin-bottom: 7px;
        color: #4790cd;
}